* {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  
}

:root {
  --primary-color: hsl(199, 92%, 58%);
  --second-color: hsl(317, 92%, 99%);
  --black-border: hsl(200, 80%, 40%);
}

body {
  font-size: 20px;
}

h1 {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 28px;

  background-color: var(--primary-color);
}

.image {
  display: flex;
  justify-content: center;
}

.whatsapp, .facebook{
  border-radius: 15px;
}

.facebook, .whatsapp, .mail, .instagram, .linkedin {
  padding-inline: 5px
}

.photo {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.navegation ul li {
  display: inline;
  margin-left: 50px;
  font-size: 30px;
  position: relative;
}